[2017-03-28 23:55] Ahmedshubber opened #1 "Selection"
@efremidze First of all great project. But I have one problem. How could I change it so that when one bubble is pressed I can present a new view depending on the index.

[2017-03-29 00:54] efremidze commented on #1
yes, I'm adding that at the moment

[2017-03-30 00:14] jackpaster commented on #1
@efremidze thank you. But how much longer do you think it might take.

[2017-03-30 00:42] Ahmedshubber commented on #1
@efremidze I have an upwork account and there is more I want to do with this project. Would you be interested if I payed you some money to do some stuff with this project. If not thank you

[2017-03-30 00:43] efremidze commented on #1
I already added it but I'm trying to figure out the method for delivering it. It's in the develop branch. Ill publish it in the next 24 hours.

[2017-03-30 00:45] Ahmedshubber commented on #1
@efremidze okay but could we Skype, I have some more things I would like to do with it but you know the framework best, would you be interested in payment for adding other things to this framework

[2017-03-30 00:48] efremidze commented on #1
I can talk tomorrow. Whats ur Skype username?

[2017-03-30 00:49] Ahmedshubber commented on #1
@efremidze  ahmedshubber12. I think you would be very interested to see where Id like to go with this project. Out of curiosity, do you have a lot of experience with swift. Im looking for custom animations with this project. I guess we will speak tomorrow. Thanks

[2017-03-30 00:56] efremidze commented on #1
Lets talk tomororw.

[2017-03-30 01:00] Ahmedshubber commented on #1
@efremidze Ok thanks

[2017-03-30 19:03] jackpaster commented on #1
Could we speak tonight at 8:00 eastern time

On Wednesday, March 29, 2017, Ahmedshubber <notifications@github.com> wrote:

[2017-03-30 19:12] efremidze commented on #1
Yes that works

[2017-03-30 23:03] Ahmedshubber commented on #1
@efremidze by any chance are you available now to Skype

[2017-03-30 23:52] Ahmedshubber commented on #1
@efremidze Just Skype me in the next few minutes, well talk briefly to see if your interested

[2017-03-31 00:10] Ahmedshubber commented on #1
@efremidze we had a scheduled Skype 9 min ago. Are we still doing it

[2017-03-31 15:10] HSchultjan opened #3 "selection on a real device fails most of the time"
The selection of a node often fails on a real device because touchesMoved is invoked at the tinyest movement.
In the simulator the method is only invoked when the mouse is actually moved.

[2017-03-31 18:35] #3 closed

[2017-04-01 21:25] Ahmedshubber commented on #1
@efremidze Did you take a look at the designs and description I sent you in Skype

[2017-04-02 01:39] efremidze opened #5 "Add Haptic Feedback Option"

[2017-04-03 08:06] #1 closed

[2017-04-03 11:32] jackpaster commented on #1
@efremidze I thought you said you would implement the settings idea I had with this project. I checked your update, the one you posted a couple hours ago, and it looks like nothing we talked about. Could you please explain. Thanks

[2017-04-03 16:05] efremidze commented on #1
I'm working on that seperately. It's not the main goal of this repo. I'll have more time today to finish it.

[2017-04-03 18:07] jackpaster commented on #1
Could you please message me in Skype what the name of the repository would
be. Thanks

On Monday, April 3, 2017, Lasha Efremidze <notifications@github.com> wrote:

[2017-04-04 05:43] cyril94440 opened #7 "Apple rejection"
We created something similar at SoundR (you can check our app on the AppStore).
But now, Apple refuses updates because "it's too similar to the Apple Watch interface and could be confusing for users..."

[2017-04-04 08:29] efremidze commented on #7
Thanks for the tip. However Apple music uses this interface, I don't understand why they would block an interface they introduced. Ill do some investigation.

[2017-04-04 10:06] cyril94440 commented on #7
No it's 5.2.5, we didn't say anything about the Apple Music interface because it would be against that same guidelines stating: "Don’t create an app that appears confusingly similar to an existing Apple product, interface"
Appeal rejected, we are changing the interface...

[2017-04-04 19:59] efremidze commented on #7
I will do some research to find a solution.

[2017-04-04 19:59] #5 closed

[2017-04-05 06:40] cyril94440 commented on #7
Awesome, if you find something that would be so helpful!
Cheers

[2017-04-06 13:36] jackpaster commented on #1
@efremidze hi I'm just checking in. Are you going to have it done today. You said you would be done with it three days ago. I just need to know where your at to see where I'm going to proceed with my settings. Thanks for your help and hope to hear back from you

[2017-04-06 19:12] efremidze commented on #1
I don't have the time to implement it right now. Sorry.

[2017-04-13 11:04] strikernani commented on #7
Hi I am going to implement the same, Will apple rejects the build. We are only developing for iPhone's not for the iWatch.
Suggest me.

[2017-04-13 16:57] efremidze commented on #7
I don't know whether they will. I haven't heard this from anyone else.

[2017-04-21 13:43] talkaboutdesign opened #8 "How can I customize it to have Image by default?"
I would like to customize it so that the image is shown by default. Also the label for text is not necessary for my use. And I also need to customize what happens when you tap on it.

Any guidance would be great.

[2017-04-21 16:47] efremidze commented on #8
You can override the selected state function by subclassing. I'll add an example of how to achieve what you want.

[2017-04-22 21:56] efremidze commented on #8
Subclass the Node:
[code]
Then use the subclass:
[code]

https://github.com/efremidze/Magnetic/blob/master/Example/ViewController2.swift

[2017-04-23 22:50] #8 closed

[2017-05-08 11:12] badalpub1991 opened #9 "SKMultilineLabelNode Support"
How to change Lable to Multiline?

[2017-05-10 09:24] badalpub1991 commented on #9
Someone please give me the solution ? @efremidze

[2017-05-10 17:55] efremidze commented on #9
I would fork to use a multiline label. I need to rewrite the Node using a multiline label also.

[2017-05-10 19:13] badalpub1991 commented on #9
Ok. Thanks for replay. I will wait for it. Actually multiline is required
for long names. By d way library is awsome. And very very smooth. Thanks a
lot for this.

On 10 May 2017 11:25 p.m., "Lasha Efremidze" <notifications@github.com>
wrote:

[2017-05-12 07:41] efremidze commented on #9
added in 1.0.5

[2017-05-12 07:41] #9 closed

[2017-05-13 18:30] mlight3 opened #12 "change strokeColor"
Hi!

I wanted to change strokeColor, but I can't.
I added below code , It works well.
[code]

But I want it makes more simpler, then I noticed that Node's `strokeColor` is same as maskOverlay's `strokeColor`.
I added property observation like this.
[code]

But it doesn't work!
Cause self.frame is .zero when `maskOverlay` is evaluating. :(

I think there is a two way to handle this.
1. Use first ap

[2017-05-14 21:57] efremidze commented on #12
Investigating

[2017-05-14 22:24] efremidze commented on #12
Another solution:

[code]

But Im looking for a better solution.

[2017-05-14 23:00] efremidze commented on #12
Fixed in 1.0.6

[2017-05-14 23:00] #12 closed

[2017-05-15 01:08] mlight3 commented on #12
Looks good!

[2017-05-20 17:36] lucianboboc opened #13 "Improve Node"
Can we have a default param added to the node initializer?
The `userData: NSMutableDictionary = nil` could help when the title info is not enough, maybe an id needs to be associated with a bubble.

[2017-05-20 18:00] efremidze commented on #13
I would suggest subclassing and adding an `id` property. The base class doesn't need that functionality.

[2017-05-20 22:13] doronkatz commented on #7
Hi guys, @strikernani  and @efremidze  any news as to whether Apple would reject this library?

[2017-05-20 22:28] efremidze commented on #7
I still haven't heard of any rejections

[2017-05-21 09:01] cyril94440 commented on #7
We are still in the process of getting approved again on the AppStore. They asked us to put the gravity center point at the bottom instead of the center of the screen and change the shape of the bubbles to something other than circle...
You can check the app as it is rejected on the AppStore, it's called soundR. The current version is the last that has been accepted.

[2017-05-25 19:05] #13 closed

[2017-05-31 10:04] Isuru-Nanayakkara commented on #8
Hi @efremidze, the link is dead. Can you please re-add it?

[2017-05-31 18:13] efremidze commented on #8
Look at the `ImageNode` in https://github.com/efremidze/Magnetic/blob/master/Example/ViewController.swift

[2017-06-01 11:38] Isuru-Nanayakkara commented on #8
@efremidze Thanks!

[2017-06-01 11:50] Isuru-Nanayakkara opened #14 "Nodes position off-screen"
Hi,

I'm using the Magnetic view as a background view of a collection view when there are no results. Kind of like a suggestion view. I created a separate nib file and added a `UIView` as a subview for `MagneticView`.

[code]

I'm instantiating the view like this in the view controller.

[code]

I'm adding 5 bubbles but some of them always appear off-screen like this.

![rsz_img_4115](https://clou

[2017-06-18 02:10] efremidze commented on #14
Still having this issue?

[2017-06-19 11:25] Isuru-Nanayakkara commented on #14
@efremidze Yes

[2017-06-20 06:18] efremidze commented on #14
Your missing constraints.
<img width="533" alt="screen shot 2017-06-19 at 11 16 37 pm" src="https://user-images.githubusercontent.com/2286277/27319266-62f9f07a-5545-11e7-874e-fd91f45290e2.png">

[2017-06-20 06:18] #14 closed

[2017-06-20 06:53] Isuru-Nanayakkara commented on #14
Thanks! It works now.

[2017-08-01 19:32] akac opened #18 "Control the animation"
What would be the best way to control the animation so the circles flying in on initialization would happen a lot faster? Ideally, I'd like them to fall in from the top or slide in from the left/right within a second.  We have about 60 circles.

[2017-08-03 08:06] mongkonsrisin opened #19 "How to implement segue when touching each node ?"
When each node is touched , it will segue to another view controller and parsing some data to display detail of that node.
How could I do that ?

Thanks.

[2017-08-03 10:21] efremidze commented on #19
Look at the example.

[2017-08-03 10:23] #19 closed

[2017-08-05 23:18] efremidze commented on #18
@IBAction func add(_ sender: UIControl?) {
        let name = UIImage.names.randomItem()
        let color = UIColor.colors.randomItem()
        let node = Node(text: name.capitalized, image: UIImage(named: name), color: color, radius: 40)
        magnetic.addChild(node)

        // apply force to node
        let force: CGFloat = 0.5
        let location = magnetic.magneticField.position

[2017-08-05 23:18] #18 closed

[2017-08-09 04:29] abraham28s opened #20 "Text Position in Node"
Hi, I am kind of new at swift and I am using your Magnetic pod, however I am building and app that needs the text of the bubbles in the bottom of the bubble. Trying to do so I looked at your files but I only saw that the Y position is managed by a verticaltextalignment that can only be top, bottom, baseline and center, all of this options take the node origin as reference, I would appreciate if yo

[2017-08-12 19:41] nick1ee opened #21 "Can't set background color to UIColor.clear."
Hi sir,

thanks for this fancy library first! But I got a problem why I tried to set the background color of magnetic to UIColor.clear, it will return me a black color. This will block the background image, could anyone advise how to address this problem?

`
    @IBOutlet weak var magneticView: MagneticView! {

        didSet {

            magnetic.magneticDelegate = self

        }

    }

    v

[2017-08-17 06:45] efremidze commented on #21
Investigating

[2017-08-17 06:54] efremidze commented on #21
You also need to set the `magneticView` background to clear.

    magneticView.backgroundColor = .clear
    magnetic.backgroundColor = .clear

<img width="411" alt="screen shot 2017-08-16 at 11 52 59 pm" src="https://user-images.githubusercontent.com/2286277/29399444-21420502-82de-11e7-98fb-2ea518c2d931.png">

[2017-08-17 06:54] #21 closed

[2017-08-17 06:55] efremidze commented on #20
Try adding a newline `\n` to the text.

[2017-08-17 07:10] nick1ee commented on #21
Hi Lasha,

Did you tried with the 5s simulator?

I have tried your solutions, it works on my 6 plus, but I still got a black
back ground in 5s, would you please take a look?

Thank you!

2017-08-17 14:55 GMT+08:00 Lasha Efremidze <notifications@github.com>:

[2017-08-17 08:38] efremidze commented on #21
Run on the 5s simulator
![simulator screen shot aug 17 2017 1 37 37 am](https://user-images.githubusercontent.com/2286277/29403286-bc40a438-82ec-11e7-92a8-dab447cbc267.png)

[2017-08-17 08:43] nick1ee commented on #21
Hi Lasha,

Thanks for your test.

I have figured out a solution is to add the following code into
viewDidLoad() and all the things worked perfectly.

<magneticView.allowsTransparency = true>

Not sure why the different scenarios happened, but just share for your
information.

Thanks again!

2017-08-17 16:38 GMT+08:00 Lasha Efremidze <notifications@github.com>:

[2017-08-17 20:13] abraham28s commented on #20
It didnt work. :(

[2017-08-17 21:14] efremidze commented on #20
not even a space then a newline? `" \n\(someString)"`

[2017-08-18 05:04] abraham28s commented on #20
I am actually using

[code]
for my nodes.

I have tried even with the blankspace and the result is the same, Is there any property of the label that I can manipulate in order to achieve this? something like

`label.magicAttributeOfY = label.magicAttributeOfY + 10.0`

I do not really know how to achieve what you said.

[2017-08-18 20:43] efremidze commented on #20
`node.label.verticalAlignmentMode = .bottom`?

[2017-08-21 20:04] akac opened #22 "Simulator Xcode 9 - very slow"
So I don't think this is a Magnetic issue but on Xcode 9 Sim, Magnetic is unusable. Is there a way for Simulator use to remove the animation?

[2017-08-28 18:58] #20 closed

[2017-09-04 21:33] NPTA opened #23 "Nodes stuck"
<img width="292" alt="screen shot 2017-09-05 at 12 31 25 am" src="https://user-images.githubusercontent.com/13376064/30038826-a3631e02-91d1-11e7-91cc-24186c954ba0.png">

When I try to repopulate the Magnetic scene I have this issue with the nodes remained on the right side of the screen. This happens on iPad Pro 12.9 inch, iOS 10.3

[2017-09-05 06:20] efremidze commented on #23
Thanks, ill fix it asap

[2017-09-05 06:58] NPTA commented on #23
Let me know when you finish, I want to make an update to my app but I also need iPad support :) and for this, it has to work fine on all devices.

[2017-09-05 07:45] efremidze commented on #23
Fixed in [1.0.8](https://github.com/efremidze/Magnetic/releases/tag/1.0.8)

[2017-09-05 07:46] #23 closed

[2017-09-05 14:59] mlight3 opened #25 "Using 2 spaces indentation"
Hello.

Most of swift project use 2 spaces indentation. And I think it is recommended. (just my opinion :) )
Is it okay that I convert 4 space to 2 spaces, then send PR?

If you prefer using 4 spaces, forget about this. :D

[2017-09-05 19:15] efremidze commented on #25
I prefer 4 spaces, its the default for Xcode.

[2017-09-05 19:15] #25 closed

[2017-09-06 07:03] mlight3 commented on #25
@efremidze Okay! BTW I am using Xcode 8 and Xcode 9 beta and they use 2 spaces for new projects.

[2017-09-11 07:23] efremidze commented on #22
Any luck solving it?

[2017-09-11 15:26] akac commented on #22
Nope. So its interesting - it works great on Xcode 9 with a 10.3 Sim, but not iOS 11 sim.

[2017-09-11 17:47] efremidze commented on #22
it sounds like an iOS 11 simulator bug

[2017-09-12 16:05] akac commented on #22
It may be - I did file a bug with Apple, but I still wanted you to know about it.

[2017-09-28 07:47] alapiNode commented on #22
I am getting this error in xCode 8.3.3 when i try to run on Simulator
Module compiled with Swift 3.0.2 cannot be imported in Swift 3.1

and same issue comes with xCode 9 again with Simulator

[2017-09-28 17:03] efremidze commented on #22
Ill take a look.

[2017-10-05 07:19] AnilkumarRabhasa opened #26 "How to add custom images like hexagonal to this circle view"
First thanks for the great library. And I want to show hexagonal view images instead of circle images, can you guide me, how to do that? @colorbox @mlight3 @efremidze waiting for ur  valuable response

[2017-10-05 08:59] AnilkumarRabhasa opened #27 "In Reset functionality, I want to reload the layout"
In Reset functionality, I want to reload the layout, how to do that, any suggestions?

[2017-10-05 19:25] efremidze commented on #26
Subclass the node and add a hexagonal view.

[2017-10-05 19:26] efremidze commented on #27
Are you asking about the demo?

[2017-10-06 05:21] AnilkumarRabhasa commented on #26
If possible can you guide?

[2017-10-06 08:43] AnilkumarRabhasa opened #29 "While scrolling horizontally, the layout hiding completely"
While scrolling the layout (bubbles) horizontally, its completely hiding from screen. How to fix this?

[2017-10-06 21:07] efremidze commented on #26
This isn't related to this library, please ask on stack overflow.

[2017-10-06 21:07] #26 closed

[2017-10-06 21:08] #27 closed

[2017-10-06 21:08] efremidze commented on #29
I don't know what ur asking. This isn't related to this library. Please ask on stack overflow.

[2017-10-06 21:08] #29 closed

[2017-10-09 06:40] AnilkumarRabhasa commented on #29
While scrolling the layout (bubbles) horizontally, its completely while its reaches to end of bounds, its hiding completely. This is my query

[2017-10-17 10:16] AnilkumarRabhasa opened #30 "In Reset functionality, I want to reload the layout"
I want to reload layout after pressing reset option and I am getting the data from web service and I am calling that while loading the data. How to achieve this reset for reload layout?

[2017-10-17 17:14] efremidze commented on #30
[code]

[2017-10-19 09:34] AnilkumarRabhasa opened #31 "I am trying to adding this layout to my tableviewcell UIView object, but its not loading the layout"
I am trying to adding this layout to my tableviewcell UiView object, but its not loading the layout.

Its not able to load into my tableview cell, can you guide me how to do this?

I am adding this to my cell like following

//in cellforrowatindexpath method
        //bubble layout
        magnetic.magneticDelegate = self as MagneticDelegate
        for _ in 0..<12 {
        let name = UIImage.nam

[2017-10-19 17:05] #30 closed

[2017-10-19 17:06] efremidze commented on #31
This question isn't related to this library. Please ask delegate related questions on stack overflow.

[2017-10-19 17:06] #31 closed

[2017-10-20 10:03] masuhara commented on #22
Same here. This is my environment.

・Xcode 9.0
・Swift 3.1
・ Magnetic 1.0.7

Animation is too slow, and my app was rejected for crush(but I don't know whether it causes by Magnetic.).

[2017-10-21 22:00] piffarettig commented on #22
Same here! App is really really slow, it's a pity because the library seems great! Changed both Example project and Magnetic deployment Target to 10.3 and same errors happen. I am using Xcode 9.0

[2017-10-22 04:42] efremidze commented on #22
Simulator?

[2017-10-22 13:41] piffarettig commented on #22
Simulator, on device works great.

[2017-10-23 00:03] efremidze commented on #22
Xcode 9 Simulator is buggy. Hopefully they fix sprite kit animations next release. For now please submit apple bug reports.

[2017-10-23 00:03] #22 closed

[2017-10-23 01:42] piffarettig commented on #22
@efremidze Thanks!

[2017-10-23 16:44] viktord1985 opened #32 "Node clear background"
How can I set Node background to clear?

[2017-10-23 19:14] efremidze commented on #32
Please search other issues in the future before adding an issue. Look at https://github.com/efremidze/Magnetic/issues/21.

[2017-10-23 19:14] #32 closed

[2017-10-24 07:24] AnilkumarRabhasa commented on #30
Thanks so much for your valuable suggestion.

[2017-11-02 20:50] akac commented on #22
This is now fixed in Xcode 9.1

[2017-11-21 14:21] leandrinux opened #34 "Importing Magnetic into an Obj-C project"
### New Issue Checklist

- [x] I updated Magnetic to the latest version.
- [x] I read the [Contribution Guidelines](https://github.com/efremidze/Magnetic/blob/master/.github/CONTRIBUTING.md).
- [x] I read the [documentation](https://github.com/efremidze/Magnetic).
- [x] I searched for [existing GitHub issues](https://github.com/efremidze/Magnetic/issues).

### Issue Description

I successfully imp

[2017-11-21 14:55] JoniVR opened #35 "Pod version behind on master?"
### New Issue Checklist

- [x] I updated Magnetic to the latest version.
- [x] I read the [Contribution Guidelines](https://github.com/efremidze/Magnetic/blob/master/.github/CONTRIBUTING.md).
- [x] I read the [documentation](https://github.com/efremidze/Magnetic).
- [x] I searched for [existing GitHub issues](https://github.com/efremidze/Magnetic/issues).

### Issue Description

Hi,

Is it possibl

[2017-11-21 15:33] efremidze commented on #34
Fixed in `2.0.1`

[2017-11-21 15:33] #34 closed

[2017-11-21 15:33] efremidze commented on #35
Fixed in `2.0.1`

[2017-11-21 15:33] #35 closed

[2017-11-30 08:17] alexandre-g commented on #7
Anyone got approved with this?

[2017-11-30 21:38] JoniVR commented on #7
Honestly, might just be bad luck on your part @cyril94440, App Store reviews just require some luck.
A lot of things are just fine until at some point it's a problem all of the sudden.
Their review process is not uniform in any way.

I don't think it's an issue with the library, I could be wrong of course, but the lack of complaints from other people seems to indicate it's just bad luck.

[2017-11-30 21:59] efremidze commented on #7
I haven't heard any rejections recently regarding this library.

[2017-12-01 09:58] AnilkumarRabhasa opened #36 "While scrolling them, the bubbles are completely went out of screen"
Thanks for the great library. Its helped us.
But, while scrolling them horizontally, they are going out from screen and coming back, I want to control this, I just want to scroll, but, should not go out of screen.

Where can I handle this? Can you help us?

[2017-12-01 12:45] AnilkumarRabhasa opened #37 "If I want to show few selected and few not selected bubbles, how to show?"
Thanks for great library.

But, here, I want to show while loading SKView few bubbles are already selected and few are not selected same time.

How can I achieve this, Can you guide us.
Thanks!

[2017-12-01 18:44] efremidze commented on #37
I'm assuming setting `isSelected` to true or false should display whether they are already selected.

[2017-12-01 18:48] efremidze commented on #36
You should adjust `magnetic. physicsBody` to limit the bounds.

[2017-12-04 06:21] AnilkumarRabhasa commented on #37
Thanks for your quick response, but, here I am showing the layout as following code

        for data in self.dataArray {
            let color = UIColor.blue
            let node = Node(text: data, image: UIImage(named: ""), color: color, radius: 40)
            node.strokeColor = UIColor.customBGColor()
            node.label.verticalAlignmentMode = .bottom
            magnetic.addChild(node)

[2017-12-04 07:13] alexandre-g opened #38 "Image is stretched"
### New Issue Checklist

- [x] I updated Magnetic to the latest version.
- [x] I read the [Contribution Guidelines](https://github.com/efremidze/Magnetic/blob/master/.github/CONTRIBUTING.md).
- [x] I searched for [existing GitHub issues](https://github.com/efremidze/Magnetic/issues).
- [x] I read the [documentation](https://github.com/efremidze/Magnetic).

### Issue Description

Image is shown in

[2017-12-04 18:22] efremidze commented on #37
`data[indexOfA].isSelected = true`

[2017-12-04 18:26] efremidze commented on #38
You can add an extension to SKSpriteNode to fix the image ratio.

[code]

[2017-12-05 00:06] alexandre-g commented on #38
Hi thanks. I've found the same solution yesterday (was going to post here this morning) but do you not think this should be the default behavior? Or perhaps an option. Or if not, at the very least I think should be put into the readme?

[2017-12-05 00:38] alexandre-g commented on #38
I've noticed that now clicking outside of the circle (and not just in the corners but to the right of some circles that have wide images as well) selects them, which conflicts if there is another circle adjacent. Any idea how to fix this?

[2017-12-05 06:12] efremidze commented on #38
I can add an extension to the library to easily adjust the aspect ratio and ill update the readme.

Regarding the selection area, I'm not exactly sure why thats happening. Ill take a loop asap.

[2017-12-05 06:50] mongkonsrisin opened #39 "How to set background image to Magnetic scene ?"
I want to set a background image to Magnetic scene. How could I do that ?
Thanks.

[2017-12-05 07:08] efremidze commented on #38
Fixed it!

[2017-12-05 07:50] AnilkumarRabhasa commented on #36
Thanks! Helped me!!

[2017-12-05 07:55] AnilkumarRabhasa commented on #37
I did not understand where to write this "data[indexOfA].isSelected = true", actually the above code is writing in ViewDidLoad method, by default, I am loading array of data to "        magnetic.addChild(node)".

But, same time I want to load one or few nodes are selected for particular indexes, I am able to getting which index selected, but, how can I access node here to reload and .isSelected =

[2017-12-05 17:20] efremidze commented on #39
https://stackoverflow.com/questions/19780638/how-to-set-the-background-image-for-a-skscene

We use our GitHub project for bug reports and feature requests. In the future, you should open questions like this on [Stack Overflow](https://stackoverflow.com).

Cheers. 🍻

---

From our [Contribution Guidelines](https://github.com/efremidze/Magnetic/blob/master/.github/CONTRIBUTING.md)

## Asking Questio

[2017-12-05 17:20] #39 closed

[2017-12-05 17:21] #37 closed

[2017-12-05 17:21] #36 closed

[2017-12-06 07:11] alexandre-g commented on #38
Care to share how? :)

[2017-12-06 09:11] efremidze commented on #38
Sorry I need to push the changes. Ill do it asap.

[2017-12-06 14:49] AnilkumarRabhasa opened #40 "How to decrease the size of bubble after selected"
Thanks for the great library. Here, I have some issue over after selecting the bubble.

After selecting the bubble, its showing very big, I want to decrease some size, where can I change this?

Thanks!

[2017-12-06 18:59] efremidze commented on #40
Override `func selectedAnimation()`. Please review the readme.

[2017-12-06 19:00] #40 closed

[2017-12-06 19:02] efremidze commented on #38
I pushed a fix for the selection bug. [2.0.2](https://github.com/efremidze/Magnetic/releases/tag/2.0.2)

I'm still trying to find a good implementation for image aspect ratios.

[2017-12-06 21:18] efremidze opened #41 "Add Code Coverage"

[2017-12-07 10:02] AnilkumarRabhasa commented on #40
Thanks for quick response, really appreciating you.

[2017-12-11 06:25] efremidze commented on #38
Fixed in [2.0.3](https://github.com/efremidze/Magnetic/releases/tag/2.0.3)

[2017-12-13 19:13] lewis-godowski commented on #38
The image I'm setting is rather large (2000x2000), but the node is only 120x120, the image ends up at (I assume) the correct aspect ratio, but now it's at full size instead of scaled down to 120x120.

[2017-12-13 23:51] efremidze commented on #38
Thanks, Ill take a look.

[2017-12-14 09:16] efremidze commented on #38
Check out latest release [2.0.4](https://github.com/efremidze/Magnetic/releases/tag/2.0.4)

[2017-12-22 15:47] mongkonsrisin opened #42 "Animation is broken when 'removeAllChildren()'"
I create app that display user's profile picture in node  but I need to reload all nodes first to make sure that latest profile picture will show so I use this code to remove all nodes `magnetic.removeAllChildren()` and then display nodes. Everything works fine but animation is broken. All nodes are freeze and don't move to center screen. (Some nodes don't show too. You could compare 2 screenshots

[2018-01-05 10:08] #38 closed

[2018-02-02 02:57] efremidze commented on #42
Still having an issue?

[2018-02-02 02:58] #42 closed

[2018-02-11 07:42] srajsushmitha opened #43 "Hexagon instead of circle?"
How can I modify circle into hexagonal and specify spacing between them?

[2018-02-12 17:49] efremidze commented on #43
I added custom path parameter to the `Node` class in `2.0.5`.
https://stackoverflow.com/questions/2249683/how-to-draw-polygons-with-cgpath

[2018-02-20 21:53] bj97301 commented on #29
I am seeing this as well.  The bubbles stay in bounds vertically but when you flick them left or right they can go out of the view's visible area.

[2018-02-20 21:59] bj97301 commented on #36
@AnilkumarRabhasa would you mind sharing your solution?

[2018-02-21 02:22] bj97301 opened #45 "Allow individual node movement when dragging"
like this:
![sense](https://user-images.githubusercontent.com/1450431/36459931-f1f48542-166a-11e8-870d-b625086439bc.gif)

### New Issue Checklist

- [x] I updated Magnetic to the latest version.
- [x] I read the [Contribution Guidelines](https://github.com/efremidze/Magnetic/blob/master/.github/CONTRIBUTING.md).
- [x] I read the [documentation](https://github.com/efremidze/Magnetic).
- [x] I searc

[2018-02-21 02:23] bj97301 commented on #45
I am thinking about doing this and opening a pr unless someone can stop me ;)

[2018-02-21 07:02] AnilkumarRabhasa commented on #36
For temporary fixes, in Node.swift files

in this method,
    open func selectedAnimation() {
        run(.scale(to: 4/3, duration: 0.2))
        if let texture = texture {
            sprite.run(.setTexture(texture))
        }
    }

I did changes in scale, so, according to your requirement you can change scale value. Hope it will helps you.

[2018-02-21 22:29] bj97301 commented on #45
Done:
https://github.com/efremidze/Magnetic/pull/46
https://www.dropbox.com/s/tzr57a8x9k2akr5/magnetic.gif?raw=1

[2018-03-04 02:23] danvargas94 opened #49 "Customize font size"
### New Issue Checklist

- [x] I updated Magnetic to the latest version.
- [x] I read the [Contribution Guidelines](https://github.com/efremidze/Magnetic/blob/master/.github/CONTRIBUTING.md).
- [x] I read the [documentation](https://github.com/efremidze/Magnetic).
- [x] I searched for [existing GitHub issues](https://github.com/efremidze/Magnetic/issues).

### Issue Description
How can I modify th

[2018-03-04 02:34] #49 closed

[2018-04-06 21:33] ismailtosun opened #50 "How can i add dynamic image ?"
### New Issue Checklist

- [ ] I updated Magnetic to the latest version.
- [ ] I read the [Contribution Guidelines](https://github.com/efremidze/Magnetic/blob/master/.github/CONTRIBUTING.md).
- [ ] I read the [documentation](https://github.com/efremidze/Magnetic).
- [ ] I searched for [existing GitHub issues](https://github.com/efremidze/Magnetic/issues).

### Issue Description

### Environment

-

[2018-04-07 08:35] mohdsafadsaal opened #51 "Is there any API to add shadow to each node(bubble) ?"
### New Issue Checklist

- [ ] I updated Magnetic to the latest version.
- [ ] I read the [Contribution Guidelines](https://github.com/efremidze/Magnetic/blob/master/.github/CONTRIBUTING.md).
- [ ] I read the [documentation](https://github.com/efremidze/Magnetic).
- [ ] I searched for [existing GitHub issues](https://github.com/efremidze/Magnetic/issues).

### Issue Description

### Environment

-

[2018-04-17 05:50] efremidze commented on #50
Please read the documentation.

We use our GitHub project for bug reports and feature requests. In the future, you should open questions like this on [Stack Overflow](https://stackoverflow.com).

Cheers. 🍻

---

From our [Contribution Guidelines](https://github.com/efremidze/Magnetic/blob/master/.github/CONTRIBUTING.md)

## Asking Questions

We don't use GitHub as a support forum. For any usage qu

[2018-04-17 05:50] #50 closed

[2018-04-17 05:51] efremidze commented on #51
https://stackoverflow.com/questions/26072933/sprite-kit-ios-7-how-to-add-a-shadow-to-a-skspritenode

We use our GitHub project for bug reports and feature requests. In the future, you should open questions like this on [Stack Overflow](https://stackoverflow.com).

Cheers. 🍻

---

From our [Contribution Guidelines](https://github.com/efremidze/Magnetic/blob/master/.github/CONTRIBUTING.md)

## Askin

[2018-04-17 05:51] #51 closed

[2018-04-17 05:52] #43 closed

[2018-04-26 06:41] BluePick opened #53 "Value of type '[SKNode]' has no member 'compactMap'"
### New Issue Checklist

- [x] I updated Magnetic to the latest version.
- [x] I read the [Contribution Guidelines](https://github.com/efremidze/Magnetic/blob/master/.github/CONTRIBUTING.md).
- [x] I read the [documentation](https://github.com/efremidze/Magnetic).
- [x] I searched for [existing GitHub issues](https://github.com/efremidze/Magnetic/issues).

### Issue Description

### Environment

-

[2018-04-26 13:17] bj97301 commented on #53
Can you update Xcode to 9.3?

On Wed, Apr 25, 2018 at 11:41 PM Blue pick <notifications@github.com> wrote:

[2018-04-27 06:26] BluePick commented on #53
- [x] Just replace `compactMap` with  `flatMap`, all set.

[2018-04-27 06:26] #53 closed

[2018-04-28 04:32] efremidze commented on #53
Thanks @BluePick

[2018-05-21 04:38] jlubeck opened #56 "Setting an image on the node is not displaying the image."
### New Issue Checklist

- [x] I updated Magnetic to the latest version.
- [x] I read the [Contribution Guidelines](https://github.com/efremidze/Magnetic/blob/master/.github/CONTRIBUTING.md).
- [x] I read the [documentation](https://github.com/efremidze/Magnetic).
- [x] I searched for [existing GitHub issues](https://github.com/efremidze/Magnetic/issues).

### Issue Description
Setting an image on

[2018-05-22 08:21] efremidze commented on #56
Nothing seems to be selected

[2018-05-22 10:09] himangirdhar opened #57 "Provide Info Window support."
### New Issue Checklist

- [ x] I updated Magnetic to the latest version.
- [ x] I read the [Contribution Guidelines](https://github.com/efremidze/Magnetic/blob/master/.github/CONTRIBUTING.md).
- [ x] I read the [documentation](https://github.com/efremidze/Magnetic).
- [ x] I searched for [existing GitHub issues](https://github.com/efremidze/Magnetic/issues).

### Issue Description

### Environmen

[2018-05-24 05:14] jlubeck commented on #56
Aha! I was expecting the image to appear all the time. Thanks for answering.

It appears that I can't subclass the Node class with ObjectiveC, is that correct??

[2018-05-24 17:36] efremidze commented on #56
Is that true? It's should be subclassable.

[2018-05-24 17:37] efremidze commented on #57
Can you please explain?

[2018-05-27 08:12] CarlGitHub opened #59 "MagneticDelegate Issue"
### New Issue Checklist

- [x] I updated Magnetic to the latest version.
- [x] I read the [Contribution Guidelines](https://github.com/efremidze/Magnetic/blob/master/.github/CONTRIBUTING.md).
- [x] I read the [documentation](https://github.com/efremidze/Magnetic).
- [x] I searched for [existing GitHub issues](https://github.com/efremidze/Magnetic/issues).

### Issue Description

Please notify the

[2018-05-30 05:43] efremidze commented on #59
Thanks for filing an issue. Can you explain further?

[2018-05-30 09:44] CarlGitHub commented on #59
![qq20180530-174245 2x](https://user-images.githubusercontent.com/5214718/40712733-fcab4de0-6430-11e8-871c-ed0c5ea78926.jpg)

[2018-06-01 16:43] efremidze commented on #57
This library only handles clustering. You can add an info window using a custom callout view. https://stackoverflow.com/questions/30793315/customize-mkannotation-callout-view

[2018-06-01 16:43] #57 closed

[2018-06-12 09:29] efremidze commented on #59
So your saying the sequence of events should be deselection then selection?

[2018-06-14 07:48] CarlGitHub commented on #59
Yes

[2018-06-19 18:32] ihorodnikoff opened #60 "Wrong node's label centerY position"
### New Issue Checklist

- [x] I updated Magnetic to the latest version.
- [x] I read the [Contribution Guidelines](https://github.com/efremidze/Magnetic/blob/master/.github/CONTRIBUTING.md).
- [x] I read the [documentation](https://github.com/efremidze/Magnetic).
- [x] I searched for [existing GitHub issues](https://github.com/efremidze/Magnetic/issues).

### Issue Description
Sometimes labels Y

[2018-06-19 19:02] efremidze commented on #60
Thanks, I'll fix asap.

[2018-06-19 19:04] ihorodnikoff commented on #60
Thanks a lot!
I admire of your work!

[2018-07-08 03:19] #56 closed

[2018-07-11 07:37] efremidze commented on #60
Fixed in [2.0.10](https://github.com/efremidze/Magnetic/releases/tag/2.0.10)

[2018-07-11 07:37] #60 closed

[2018-07-11 08:55] ihorodnikoff opened #61 "It's impossible to scroll to left nodes if there are a lot of nodes."
### New Issue Checklist

- [x] I updated Magnetic to the latest version.
- [x] I read the [Contribution Guidelines](https://github.com/efremidze/Magnetic/blob/master/.github/CONTRIBUTING.md).
- [x] I read the [documentation](https://github.com/efremidze/Magnetic).
- [x] I searched for [existing GitHub issues](https://github.com/efremidze/Magnetic/issues).

### Issue Description

### Environment

-

[2018-07-13 06:23] efremidze commented on #61
I'm working on scrolling improvements.

[2018-07-13 11:21] himanshu1261994 opened #62 "Hello, What I can do to provide support this library for Mac OS?"
### New Issue Checklist

- [ ] I updated Magnetic to the latest version.
- [ ] I read the [Contribution Guidelines](https://github.com/efremidze/Magnetic/blob/master/.github/CONTRIBUTING.md).
- [ ] I read the [documentation](https://github.com/efremidze/Magnetic).
- [ ] I searched for [existing GitHub issues](https://github.com/efremidze/Magnetic/issues).

### Issue Description

### Environment

-

[2018-07-13 11:22] himanshu1261994 commented on #62
need to support for Mac OS

[2018-07-19 05:54] ggfggfggf opened #63 "I imported magnetic pods in my project and when I'm archiving my project I got error no such module magnetic. if I run it on simulator it works properly but when I select generic iOS device and select clean or archive I got error."
### New Issue Checklist

- [ x] I updated Magnetic to the latest version.
- [x ] I read the [Contribution Guidelines](https://github.com/efremidze/Magnetic/blob/master/.github/CONTRIBUTING.md).
- [x ] I read the [documentation](https://github.com/efremidze/Magnetic).
- [ x] I searched for [existing GitHub issues](https://github.com/efremidze/Magnetic/issues).

### Issue Description

### Environmen

[2018-07-29 22:19] efremidze commented on #62
I haven't looked into macOS support yet. If you would like to add support, please make a PR.

[2018-07-29 22:21] efremidze commented on #63
This might be an issue with the Xcode beta version you're using. I'm not having any issue on the latest Xcode release.

[2018-08-02 18:25] efremidze commented on #63
This sounds like a CocoaPods error not an error with this repo.

[2018-08-02 18:25] #63 closed

[2018-08-21 04:59] puyanlin opened #64 "Expose `func node(at point: CGPoint) -> Node?` to user"
### New Issue Checklist

- [x] I updated Magnetic to the latest version.
- [x] I read the [Contribution Guidelines](https://github.com/efremidze/Magnetic/blob/master/.github/CONTRIBUTING.md).
- [x] I read the [documentation](https://github.com/efremidze/Magnetic).
- [x] I searched for [existing GitHub issues](https://github.com/efremidze/Magnetic/issues).

### Issue Description

Is there any conce

[2018-08-21 07:47] efremidze commented on #64
Exposed in 2.0.11

[2018-08-21 07:47] #64 closed

[2018-08-23 14:22] simonzwicker opened #65 "Spacing between bubbles"
Hey, is it possible to add more Space between the bubbles? I checked the Code but found nothing like this

[2018-08-25 03:44] efremidze commented on #65
You can add it by customizing the `physicsBody` of the node. I'll add options to customize it easier.

[2018-08-30 07:18] puyanlin opened #66 "Expose func moveNodes(location: CGPoint, previous: CGPoint) to user"
### New Issue Checklist

- [x] I updated Magnetic to the latest version.
- [x] I read the [Contribution Guidelines](https://github.com/efremidze/Magnetic/blob/master/.github/CONTRIBUTING.md).
- [x] I read the [documentation](https://github.com/efremidze/Magnetic).
- [x] I searched for [existing GitHub issues](https://github.com/efremidze/Magnetic/issues).

### Issue Description

Is there any conce

[2018-08-30 20:29] efremidze commented on #66
Thanks, Ill expose it in the next release.

[2018-10-02 08:41] alepiz opened #67 "Problem with name didSelected"
I have a problem when I select one bubble. It doesn't recognize the name of the Node.
Please help me, thanks

LOG

didSelect -> <SKShapeNode> name:'(null)' accumulatedFrame:{{89.760002136230469, 424.89700317382812}, {147, 83}}

[2018-10-02 08:51] efremidze commented on #67
I'll fix asap

[2018-10-02 08:55] efremidze commented on #67
What iOS version and device?

[2018-10-02 08:57] efremidze commented on #67
[code]

[2018-10-02 09:49] alepiz commented on #67
How can I assign at each bubble a different name? For example if I select Peru it show me "name:'Peru'"
?

[2018-10-02 13:04] alepiz commented on #67
I have iPhone X iOs version 12.0

Il giorno mar 2 ott 2018 alle ore 10:58 Lasha Efremidze <
notifications@github.com> ha scritto:

[2018-10-04 01:12] efremidze commented on #67
Please read the documentation.

[code]

[2018-10-04 01:15] efremidze commented on #67
let node = Node(text: "Italy", image: UIImage(named: "italy"), color: .red, radius: 30)
node.name = "Italy"

[2018-10-04 03:48] efremidze commented on #67
I'm going to close this issue since its not a bug.

[2018-10-04 03:48] #67 closed

[2018-11-29 09:16] junestchick opened #68 "Set node.strokeColor = SKColor.clear, the node is not smooth"
### New Issue Checklist

- [x] I updated Magnetic to the latest version.
- [x] I read the [Contribution Guidelines](https://github.com/efremidze/Magnetic/blob/master/.github/CONTRIBUTING.md).
- [x] I read the [documentation](https://github.com/efremidze/Magnetic).
- [x] I searched for [existing GitHub issues](https://github.com/efremidze/Magnetic/issues).

### Issue Description

![image](https://u

[2018-12-06 08:19] efremidze commented on #68
SKShapeNode requires a stroke color to achieve smooth edges.

[2018-12-06 09:11] efremidze commented on #65
I've added node spacing and custom paths to release [2.0.12](https://github.com/efremidze/Magnetic/releases/tag/2.0.12).
`let node = Node(text: name.capitalized, image: UIImage(named: name), color: color, radius: 40, path: SKShapeNode(circleOfRadius: radius).path, marginScale: 1.1)`

[2018-12-06 09:41] efremidze commented on #66
Added to [2.1.2](https://github.com/efremidze/Magnetic/releases/tag/2.1.2)

[2018-12-12 03:11] #66 closed

[2019-01-02 09:32] lumo2707 opened #71 "Restart animation on viewWillAppear"
Hi,
is it possible to restart animation so that when the user comes back on the screen the bubbles will be animated from besides to center?

[2019-01-03 14:48] efremidze commented on #71
I can add a function to reset position. However in the meanwhile you can adjust the position of the nodes.
[code]

[2019-01-29 10:41] vaibhavsingla1996 opened #72 "While loading large data the view doesnot render properly."
### Issue Description
I tried to feed large data set to check whether it can adjust the bubbles or not. The results are in below screenshot attached.
I made 120 nodes and added to the magnetic to check whether it can handle large dataset or not. As we can clearly see in the screenshot that. The bubbles are overlapping on each other as they didnot find place to expand. Please resolve this issue ASA

[2019-01-30 16:04] efremidze commented on #72
Thanks, I'll take a look asap.

[2019-02-12 07:14] #68 closed

[2019-03-09 08:55] noelportugal commented on #42
I'm experiencing the same behaviour @mongkonsrisin did you found a solution?

[2019-04-03 09:46] vaibhavsingla1996 opened #73 "Borders appears on top and bottom of view in plus devices"
### Issue Description
When I add the Magnetic view via code it adds unnecessary top bottom borders.

### Environment

- **iOS Version**: [12.0]
- **Device(s)**: [6 plus, 7 plus and other plus devices]

[2019-04-06 01:45] efremidze commented on #73
Screenshot?

[2019-04-19 06:59] mredig opened #74 "UIColorBreakForOutOfRangeColorComponents"
While using this library, I occasionally (roughly half the time I run the exact same procedure in my app) get an error in the console reading `UIColor created with component values far outside the expected range. Set a breakpoint on UIColorBreakForOutOfRangeColorComponents to debug. This message will only be logged once.` I've followed the directions by setting a breakpoint and could find nothing

[2019-04-30 11:01] vaibhavsingla1996 opened #76 "Text in label begins and ends at edge sometimes due to which some characters cuts off."
Text in label begins and ends at edge sometimes due to which some characters cut off.
When providing a large string for small radius, the bubble text is shifted in 2 lines or becomes edge to edge due to which first and the last character of the string is half invisible. Please add padding in bubble label.

[2019-04-30 11:01] #73 closed

[2019-04-30 15:26] efremidze commented on #76
Adjust the width of the label to add padding.
`node.label.width = node.frame.width - 20`

[2019-05-13 04:37] #76 closed

[2019-05-26 21:04] marcelosalloum opened #77 "Size to Fit Bubbles"
Is that possible to get the minimum magneticView size needed to fit my Nodes?

### Issue Description
Hey guys, I'd like to adjust my superview height based on the size of the MagneticView, after it's populated by the nodes. Is that a way to infer the final size of the nodes even before they've shown up?

This is how my view looks like right now:
![Simulator Screen Shot - iPhone Xs - 2019-05-26 at

[2019-05-27 04:41] efremidze commented on #77
You can calculate the frame size using [calculateaccumulatedframe](https://developer.apple.com/documentation/spritekit/sknode/1483066-calculateaccumulatedframe).

[2019-05-27 04:50] #65 closed

[2019-05-27 04:52] efremidze commented on #77
You can calculate the frame size using [calculateAccumulatedFrame()](https://developer.apple.com/documentation/spritekit/sknode/1483066-calculateaccumulatedframe).
`magneticView.calculateAccumulatedFrame()`

[2019-05-30 07:48] pratibha691 opened #78 "bubble are moving in slower rate in iPad, looks glitchy"
### New Issue Checklist

- [ ] I updated Magnetic to the latest version.
- [ ] I read the [Contribution Guidelines](https://github.com/efremidze/Magnetic/blob/master/.github/CONTRIBUTING.md).
- [ ] I read the [documentation](https://github.com/efremidze/Magnetic).
- [ ] I searched for [existing GitHub issues](https://github.com/efremidze/Magnetic/issues).

### Issue Description

### Environment

-

[2019-06-04 07:56] vaibhavsingla1996 commented on #78
I am facing the same issue. When I use this on iPad for first-time bubbles moves in a glitchy way.

[2019-06-16 13:18] marcelosalloum commented on #77
Awesome, thank you @efremidze

[2019-06-16 13:18] #77 closed

[2019-07-05 04:29] az-oolloow commented on #7
@efremidze have you heard of anyone being approved though?
E.g. is the lib used by anyone who has an app published on App Store

[2019-07-05 04:33] alexandre-g commented on #7
Yeah we've never had problems with approval with this

[2019-07-05 08:31] cyril94440 commented on #7
It's probably because our app is also a music app. Since we changed the circle shape to a hexagonal one, we got approved again... Might be bad luck indeed.
Btw, we don't use the Magnetic library but did the exact same interface with SpriteKit because we didn't know of Magnetic at the time ;)

[2019-07-07 15:05] az-oolloow commented on #71
@efremidze just FYI where i use it is upon device rotation when my container resizes - it seems out of the box this is not handled by Magnetic.

[2019-07-07 15:05] az-oolloow commented on #78
Yup, noticed the same on the simulator, the framerate was quite low.

[2019-07-23 18:51] mpkupriyanov opened #79 "CPU more 90%, low FPS"
What's happened? Add 12 nodes.

http://joxi.ru/nAybJeYIgVeDOr

[2019-08-17 15:30] zyphs21 commented on #79
@mpkupriyanov  I think it's because there too many `SKCropNode` and cause offscreen buffer.

according to the [AppleDoc](https://developer.apple.com/documentation/spritekit/skcropnode):

[2019-08-17 18:05] mpkupriyanov commented on #79
Thanks a lot, Hanson!

[2019-09-05 05:48] timetoguess commented on #7
Thanks for the SpriteKit Floating Bubble Picker! FYI, used this in an app 'Time to Guess', and it was published in the store today (also source available: https://github.com/timetoguess/What-s-It).

[2019-09-18 00:04] EdwinJr13 opened #82 "ImageNode by default does not work anymore"
Hey there,
I am struggling to set an image by default to the node. I have already used the code example but it didn't work properly. I only get a node with a color and no image.

I just want to create nodes with only images, no color, and no text.

Can someone explain me how to achieve that?

Thank you.

[2019-09-19 08:42] EdwinJr13 commented on #8
It does not work anymore. How can I set the image by default in the Node? I just want nodes with images and not text.

[2019-09-19 09:13] #82 closed

[2019-10-24 07:40] maxkupetskii opened #83 "SPM not working due to missing `Tests` path in `MagneticTests` target"
After trying to add Magnetic as a dependency via SPM I got an error.

### Issue Description
File -> Swift Packages -> Add Package Dependency -> https://github.com/efremidze/Magnetic.git , 3.1.1
![Screen Shot 2019-10-24 at 10 37 33](https://user-images.githubusercontent.com/10694577/67463653-7b68f680-f64a-11e9-9699-e8ee5ec7dd71.png)

Removing
[code]
From `Package.swift` solves the problem.

### Env

[2019-10-25 16:33] efremidze commented on #83
Resolved by https://github.com/efremidze/Magnetic/releases/tag/3.1.2

[2019-10-25 16:33] #83 closed

[2019-12-10 07:45] nipunV001 commented on #78
I'm facing the same issue but I'm facing it in iPhone and iPhone simulator.

[2019-12-29 03:34] Marcin951 opened #84 "Instant Crash after display magnetic view"
### New Issue Checklist

- [x] I updated Magnetic to the latest version.
- [x] I read the [Contribution Guidelines](https://github.com/efremidze/Magnetic/blob/master/.github/CONTRIBUTING.md).
- [x] I read the [documentation](https://github.com/efremidze/Magnetic).
- [x] I searched for [existing GitHub issues](https://github.com/efremidze/Magnetic/issues).

### Issue Description
randomly it crash m

[2020-01-04 20:39] efremidze commented on #84
Is the example project crashing for you?

[2020-02-08 15:34] Marcin951 opened #85 "How to deallocate memory?"
### New Issue Checklist

- [x] I updated Magnetic to the latest version.
- [x] I read the [Contribution Guidelines](https://github.com/efremidze/Magnetic/blob/master/.github/CONTRIBUTING.md).
- [x] I read the [documentation](https://github.com/efremidze/Magnetic).
- [ x I searched for [existing GitHub issues](https://github.com/efremidze/Magnetic/issues).

### Issue Description
It can take a lot o

[2020-02-08 15:36] Marcin951 commented on #84
I noticed only when i use dispatch queue it might crash :)

[2020-02-08 15:36] #84 closed

[2020-02-22 17:46] romarakhlin opened #86 "Can' t save an array of chosen bubbles"
How i can do it?

[2020-02-23 01:58] efremidze commented on #86
you can override `selectedChildren` and store them in a persistence layer

[2020-02-23 11:28] romarakhlin commented on #86
I can save the text of each selected bubble?

[2020-02-26 07:06] efremidze commented on #86
You can subclass the node and add a unique identifier.

[2020-02-26 18:28] #86 closed

[2020-02-26 18:28] romarakhlin commented on #86
thanks

[2020-02-27 07:21] Walker123t opened #87 "Set size of bubble based on size of content"
An easier way to set the size of a bubble based on the content I put in. The way I am doing it now is creating a label, calculating its intrinsic content size, then setting the radius based off of that.

### New Issue Checklist

- [ x] I updated Magnetic to the latest version.
- [x ] I read the [Contribution Guidelines](https://github.com/efremidze/Magnetic/blob/master/.github/CONTRIBUTING.md).
-

[2020-03-05 17:12] dvlpd opened #88 "Changing Font"
Hello!

I have a problem. I want to change font to a custom one, but I don't know how to do it.
Do you know how to do it?

Thank you in advance!

[2020-03-12 10:23] syedrazackimran opened #89 "Not Showing"
### New Issue Checklist

- [ ] I updated Magnetic to the latest version.
- [ ] I read the [Contribution Guidelines](https://github.com/efremidze/Magnetic/blob/master/.github/CONTRIBUTING.md).
- [ ] I read the [documentation](https://github.com/efremidze/Magnetic).
- [ ] I searched for [existing GitHub issues](https://github.com/efremidze/Magnetic/issues).

### Issue Description

### Environment

-

[2020-03-30 17:15] jesster2k10 commented on #89
I also have this issue with it only showing half the items

[2020-03-30 17:31] jesster2k10 commented on #89
Attached below is a screenshot of the issue I am having.

![Screenshot 2020-03-30 at 18 29 51](https://user-images.githubusercontent.com/6454286/77943022-71f85000-72b4-11ea-837e-d14385a70286.png)

It is worth nothing that I am using my library in a react-native app based on a custom wrapper I made http://github.com/jesster2k10/react-native-bubble-select

I'm using the latest version of the gem, Xc

[2020-03-30 17:45] jesster2k10 commented on #87
This is my (hacky) solution:

[code]

It would be possible to create a super class called `ResizableNode` that extends the `Node` class and implement this code and make a PR mabye

[2020-04-04 19:20] jesster2k10 opened #91 "Only 1/2 of the bubbles are presented"
There is an issue in the current version of the library to which only half of the specified nodes are shown. This issue is related to #89, however, I thought it would be better to open a much more conclusive issue.

### New Issue Checklist

- [x] I updated Magnetic to the latest version.
- [x] I read the [Contribution Guidelines](https://github.com/efremidze/Magnetic/blob/master/.github/CONTRIBUTI

[2020-04-04 19:24] jesster2k10 commented on #91
As I suspected, setting the `node.position.y` to 0 causes all of the nodes to appear like so:

![Simulator Screen Shot - iPhone 11 - 2020-04-04 at 20 23 50](https://user-images.githubusercontent.com/6454286/78459632-35f92c80-76b2-11ea-8cf0-17c251ae0573.png)

So my idea now, is that when the y-position is set randomly, there is a certain boundary, possibly the physics body, stopping the nodes from

[2020-04-05 14:45] dvlpd opened #92 "How to move to activity when specific Node is clicked?"
- [X ] I updated Magnetic to the latest version.
- [ X] I read the [Contribution Guidelines](https://github.com/efremidze/Magnetic/blob/master/.github/CONTRIBUTING.md).
- [ X] I read the [documentation](https://github.com/efremidze/Magnetic).
- [ X] I searched for [existing GitHub issues](https://github.com/efremidze/Magnetic/issues).

Hello! I have a problem. I'm new to iOS development.
I've seen

[2020-04-07 16:06] jesster2k10 commented on #92
You could use the `didSelectNode` delegate method and identify the node based on the text and go to the activity from that.

[2020-04-07 16:09] dvlpd commented on #92
func magnetic(_ magnetic: Magnetic, didSelect node: Node) {
        // handle node selection

               if (node.text == "Text1") {
                performSegue(withIdentifier: "Segue1", sender: self)
            } else if (node.text == "Text2"){
                performSegue(withIdentifier: "Segue2", sender: self)
            } else {
                performSegue(withIdentifier: "Segue3", sen

[2020-04-07 16:13] dvlpd commented on #92
@jesster2k10 I've written today this code. However it doesn't do anything. I don't understand where the problem is... Note: "Text1, 2..." stands for text inside each Node, "Segue1, 2..." is an ID that I create and attach to each of segues created in storyboard

[2020-04-14 21:28] dvlpd commented on #92
Any ideas? I tried every possible way to use segue programmatically but it still does not respond...

[2020-04-14 21:29] dvlpd commented on #91
Any progress on this?

[2020-04-15 08:43] jesster2k10 commented on #91
@dvlpd Are you working with the react-native or iOS library?

[2020-04-15 08:51] dvlpd commented on #91
I work with iOS library, sir

[2020-04-19 13:43] #88 closed

[2020-05-12 20:23] dvlpd commented on #91
any updates?

[2020-05-12 22:19] newbie-swift opened #93 "How to use it in SwiftUI"
I'm new to Swift and SwiftUI but did try using UIViewRepresentable but not getting anywhere. Any support helps :)

P.S. Sorry to use issue to ask a question

[2020-05-12 22:57] sidster-io commented on #93
Tried to follow this > https://dev.to/sgchipman/using-spritekit-with-swiftui-ibc

[2020-05-23 16:09] #92 closed

[2020-05-25 18:31] efremidze commented on #93
It's probably best to create a separate repo that extends Magnetic with SwiftUI support.

[2020-06-05 12:06] unibodydesignn commented on #89
Sometimes it shows, sometimes it does not when you initialize values in viewDidLoad. I initialized the view and nodes in viewDidAppear and the problem seems to gone for now.

[2020-06-17 06:36] efremidze commented on #93
I will try to add SwiftUI support soon! Any help would be appreciated.

[2020-07-22 01:33] josepedromonteiro commented on #91
Hey @jesster2k10 any updates for the [react-native lib](https://github.com/jesster2k10/react-native-bubble-select)?

[2020-07-28 23:46] sasank013 opened #96 "Background color doesn't change"
How can we change the background color. I believe it is currently set to white. I want it to be transparent. Thanks

[2020-07-28 23:54] #96 closed

[2020-07-29 00:33] sasank013 opened #97 "remove metrics at the bottom right"
on my app, I am seeing this little gray box with information. How can I hide this?
![Screenshot 2020-07-28 at 19 31 59](https://user-images.githubusercontent.com/48393868/88742965-2bebb580-d109-11ea-90c0-c90bd4e93212.jpeg)

[2020-07-29 00:35] sasank013 opened #98 "Change Hexagonal Line Color (not stroke color)"
Around each of my nodes, I have this polygonal line that is not the stroke line. I have tried changing the color of the stroke line but that ends up being a different entity. How can I change the color of these lines/polygonal.

![Screenshot 2020-07-28 at 19 35 04](https://user-images.githubusercontent.com/48393868/88743106-81c05d80-d109-11ea-9d8b-a9b81c8003af.jpeg)

[2020-07-29 03:17] efremidze commented on #98
Removing `#if DEBUG` should fix your issue.
https://stackoverflow.com/questions/24003291/ifdef-replacement-in-the-swift-language

We use our GitHub project for bug reports and feature requests. In the future, you should open questions like this on [Stack Overflow](https://stackoverflow.com).

Cheers. 🍻

---

From our [Contribution Guidelines](https://github.com/efremidze/Magnetic/blob/master/.gith

[2020-07-29 03:17] #98 closed

[2020-07-29 03:17] efremidze commented on #97
Removing `#if DEBUG` should fix your issue.
https://stackoverflow.com/questions/24003291/ifdef-replacement-in-the-swift-language

We use our GitHub project for bug reports and feature requests. In the future, you should open questions like this on [Stack Overflow](https://stackoverflow.com).

Cheers. 🍻

---

From our [Contribution Guidelines](https://github.com/efremidze/Magnetic/blob/master/.gith

[2020-07-29 03:17] #97 closed

[2020-08-06 19:31] hilalalhakani opened #99 "Retrieve the Node frame"
I'm trying the imitate the home screen of [Glovo application](https://d3l69s690g8302.cloudfront.net/wp-content/uploads/2015/10/10083633/glovo.jpg) .

I found a library to create the [radial effect](https://github.com/efremidze/Magnetic)
and another one for the [bubble transition effect](https://github.com/andreamazz/BubbleTransition) , the problem is when i retrieve the center of the selected SkSh

[2020-08-12 09:10] #99 closed

[2020-08-18 09:33] TeetiFM opened #100 "bug when presenting another view controller"
Situation:
- I have a ViewController that has a magneticView (working fabulous as expected)
- that is presenting a default SecondViewController using this code:
'''
let vc = SecondViewController()
vc.transitioningDelegate = self
vc.modalPresentationStyle = .overCurrentContext
self.present(vc, animated: true, completion: nil)
'''
- so far so good, but when I "self.dismiss(animated: true, completion

[2020-08-19 01:14] mxnmike opened #101 "Inheritance not allowed"
Im trying to create my own class inheriting from Node

### New Issue Checklist

- [X ] I updated Magnetic to the latest version.
- [ X] I read the [Contribution Guidelines](https://github.com/efremidze/Magnetic/blob/master/.github/CONTRIBUTING.md).
- [ X] I read the [documentation](https://github.com/efremidze/Magnetic).
- [ X] I searched for [existing GitHub issues](https://github.com/efremidze/M

[2020-08-19 01:18] #101 closed

[2020-08-19 02:14] mxnmike commented on #61
is there a fix for this? I cannot scroll properly either left or right  the issue that I have found is that some of my bubbles are bigger because of their content, because if I don't set the scaletofitContent to true, im able to scroll properly.

So the size is the issue.

[2020-08-19 10:09] TeetiFM commented on #96
-> Magnetic -> commonInit() -> change the background to UIColor.clear (for it to be transparent or any other colour you'd like)

[2020-08-19 12:56] TeetiFM commented on #100
So basically, this caused the problem: https://stackoverflow.com/questions/21651807/strange-spritekit-uidynamics-bug
Apparently when I initialise and use the UIDynamics in the presented SecondViewController, it messes up the SpriteKit physics world of the first ViewController ...
Not sure how I will fix this on my part, but good to know it isn't some error in Magnetic. Issue closed.

[2020-08-19 12:56] #100 closed

[2020-09-14 09:27] VasilenkoVladislav commented on #82
@EdwinJr13, You can use fillTexture instead of texture

[2020-12-12 14:12] taier commented on #91
are you adding nodes inside viewDidLoad?

[2021-04-05 19:39] harifsp opened #102 "How to do bubble are moving in slower rate?"
I want to move the all bubbles very slow to bottom & continuously. And do't want to go offscreen & (left, right). how to disable the draggable option?

[2021-04-07 03:55] LAnqxpp opened #103 "Is there any OC version"

[2021-04-12 23:59] efremidze commented on #103
What does OC mean?

[2021-04-15 02:14] LAnqxpp commented on #103
Object-C version

Animation can go in one direction

[2021-04-16 01:01] efremidze commented on #103
This library supports Objective-C

[2021-04-16 01:01] #103 closed

[2021-07-15 16:01] stealdre opened #104 "make bubbles motionless"
Hi,

I'm wondering if it is possible to make it static..? In fact, I just want the bubble views to appear at the center of the screen and then I want them to stand still.

I should stil be able to move them around but I want to remove all physic effects.

Thanks in advance for your help!

[2021-07-23 18:47] efremidze commented on #104
You would need to use a different effect. You could keep a very small magnetic field and apply another effect too.

[2021-11-05 10:45] Arman-Morshed commented on #93
@efremidze can you give any update of that issue?

[2021-11-08 03:39] efremidze commented on #93
Easiest integration would be to wrap it into a SwiftUI view
https://www.hackingwithswift.com/quick-start/swiftui/how-to-wrap-a-custom-uiview-for-swiftui

[2021-11-08 06:55] efremidze commented on #93
Updated MagneticView_SwiftUI to support UIViewRepresentable

[2022-03-09 06:31] Dev-iOS-Appbirds opened #109 "Bubble Border issue on Test-flight or Ad-hoc"
The border of bubbles appears when we are testing it manually on the device, but somehow it’s not working after app distribution (test-flight or Ad hoc)
![image-20220309-060040](https://user-images.githubusercontent.com/31612250/157385242-665f97d8-7da0-429f-97ea-9b7dcd6967bb.png)
.

[2022-03-09 07:05] Dev-iOS-Appbirds opened #110 "How to change Border color?"
How to change Border color?

[2022-03-29 08:07] mihaelrek opened #111 "Magnetic view in tableview cell slows down tabbar selection"
I have a magneticview inside tableview cell. When i first tap on tab bar item it's fine, but every other time when everything is already loaded it takes up to 2 seconds for tabbar to switch between controllers.

- [ x] I updated Magnetic to the latest version.
- [x ] I read the [Contribution Guidelines](https://github.com/efremidze/Magnetic/blob/master/.github/CONTRIBUTING.md).
- [x ] I read the [

[2022-07-12 00:45] TKOxff commented on #91
Hello there.
I have the same issue with SwiftUI running on iOS 15.5
And I've got the hint from @nurlan-dzhavadov 's comment pointed out `addChild` codes. thx!

Eventually I've solved the problem in the way to set the frame with Device's bounds size.

`
let magView = MagneticView(frame: UIScreen.main.bounds)
`